


$font-serif: 'PT Serif', serif;
$font-sans: 'Poppins-Regular', sans-serif;

$font-sans-semibold: 'Poppins-SemiBold', sans-serif;


html {
  font-size: 1rem;
}

/** @include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
} **/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  margin-bottom: 20px;
  color: $dark;
  font-family: $font-serif;
  line-height: 1.4;
}

h6, .h6 {
  font-size: 0.75rem;
  font-family: $font-sans;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:$heading-color;
  
}

p {
  color: $body-color;
  font-family: $font-sans;
  line-height: 1.8;
}

.lead {
  color: $heading-color;
}

.page-title {
  font-size: 3.4em;
  line-height: 1em;
  margin-bottom: 0;
}

p:last-of-type {
  margin-bottom: 0;
}


ul, ol {
  font-family: $font-sans;
}

hr {
  &.short {
    height: 3px;
    width: 70px;
    background: $primary;
    border: none;
  }
}

  .blockquote{
  p{
    font-size:1.5em;
    font-family:$font-serif;
    &:before{
      content:'\201C';
      color:#247691;
      margin-right:2px;
    }
    &:after{
      content:'\201D';
      color:#247691;
      margin-left:2px;

    }
  }
}
  .blockquote-footer{
    padding:2em 0em;
    display:flex;
    align-items:center;
    &:before{
      content:'\2014 \2014 \2014';
      margin-right:1em;
      color:#247691;
    }
    p{
      &:before{
      content:'';
      }
      &:after{
        content:'';
      }
      font-family:$font-sans-semibold;
      text-transform:uppercase;
      font-size:0.875em;
      b{
        color:#fff !important;
        letter-spacing: 1px;
      }
      }
    }

    small{
      font-family:$font-sans;
      opacity:0.8;
      font-size:0.875em;
      line-height:1.375em;
    }

    a:not(.btn) {
      color: darken($primary,10%);
      transition: 0.2s;
      &:hover {
        color: $primary;
      }
    }

    .bg--white {
      p {
        color: $body-color;
      }
    }